<svg
  version="1.0"
  xmlns="http://www.w3.org/2000/svg"
  width="500px"
  height="64px"
  viewBox="0 0 800.000000 64.000000"
  preserveAspectRatio="xMidYMid meet"
  {...Astro.props}
>
  <title>nekoweb community logo</title>
  <g
    transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
    fill="var(--primary)"
    stroke="none"
  >
    <path
      d="M1000 631 l-35 -6 -9 -87 -8 -87 -33 47 c-45 67 -99 102 -166 108
-46 5 -62 2 -113 -24 l-58 -30 -20 20 c-26 26 -99 20 -132 -11 -26 -24 -44
-27 -60 -7 -8 10 -41 15 -121 18 -108 3 -110 3 -121 -22 -19 -39 -44 -243 -47
-370 l-2 -115 45 2 c25 1 73 5 108 8 60 6 62 8 62 35 0 30 23 56 40 45 5 -3
10 -19 10 -36 0 -24 4 -29 25 -29 36 0 173 29 210 44 26 11 36 10 74 -6 91
-39 194 -20 257 48 l34 35 0 -38 c0 -21 7 -49 16 -61 15 -22 21 -23 103 -18
47 3 97 6 111 7 14 0 52 -2 86 -6 38 -5 68 -4 81 3 16 9 29 7 59 -8 76 -39
234 -15 282 43 12 14 16 14 48 -5 51 -30 131 -22 181 18 l38 30 55 -28 c69
-35 148 -38 198 -8 l33 20 27 -25 c117 -110 329 -112 426 -5 l36 40 0 -55 c0
-49 3 -57 24 -65 31 -11 153 5 222 31 57 21 107 70 130 125 19 44 18 118 -2
155 -14 28 -14 32 5 63 12 19 21 50 21 74 0 33 -6 45 -35 71 -52 45 -159 75
-247 69 -38 -3 -74 -10 -79 -15 -5 -5 -11 -38 -14 -73 -4 -36 -8 -81 -11 -100
l-6 -35 -19 39 c-48 100 -129 156 -225 156 -56 0 -128 -21 -156 -47 -16 -15
-19 -14 -35 6 -29 35 -149 45 -413 36 -294 -10 -288 -10 -337 5 -38 11 -47 10
-85 -10 -24 -12 -55 -33 -70 -48 l-28 -26 0 30 c0 49 -11 56 -81 53 -49 -3
-70 1 -89 14 -25 18 -114 22 -190 8z m1922 -65 c36 -8 80 -22 97 -31 42 -21
42 -61 1 -100 -37 -35 -38 -54 -5 -85 20 -19 25 -33 25 -72 0 -41 -5 -54 -36
-88 -37 -40 -85 -61 -176 -73 l-38 -6 0 97 c0 53 5 159 12 235 14 157 4 147
120 123z m-1778 -12 c3 -9 6 -26 6 -39 0 -38 11 -55 35 -55 24 0 35 17 35 56
0 21 5 24 35 24 22 0 35 -5 35 -13 0 -32 -34 -126 -61 -168 -16 -25 -29 -53
-29 -63 0 -9 16 -41 37 -71 20 -31 34 -57 32 -60 -3 -2 -27 2 -54 9 -43 10
-50 16 -53 39 -3 25 -34 57 -56 57 -5 0 -6 -22 -3 -50 l6 -50 -43 0 c-32 0
-46 5 -50 17 -4 9 -1 99 5 200 l12 183 53 0 c38 0 53 -4 58 -16z m-335 -42
c26 -19 76 -102 86 -143 6 -26 6 -26 -50 -28 -66 -1 -75 -5 -75 -32 0 -17 7
-19 60 -19 33 0 60 -4 60 -9 0 -16 -51 -71 -81 -86 -35 -19 -90 -19 -132 -1
-32 13 -34 16 -55 125 -13 61 -25 117 -28 124 -7 18 47 66 92 83 45 16 89 11
123 -14z m734 14 c106 -44 172 -221 115 -306 -48 -71 -171 -103 -240 -62 -74
42 -92 175 -38 270 27 46 98 112 122 112 5 0 23 -6 41 -14z m497 -37 c0 -59
13 -89 40 -89 26 0 40 29 40 84 l0 46 48 0 c26 0 53 -4 60 -9 19 -12 27 -154
12 -211 -7 -27 -26 -59 -50 -82 -49 -50 -86 -50 -180 -3 -38 19 -75 35 -81 35
-6 0 -26 -16 -44 -36 -37 -40 -97 -55 -128 -32 -15 12 -16 19 -6 69 14 68 -6
148 -51 215 -16 23 -26 44 -23 48 4 3 32 6 64 6 l58 0 3 -71 c3 -75 17 -99 52
-86 13 5 16 22 16 87 l0 80 85 0 85 0 0 -51z m513 37 c63 -26 122 -127 115
-197 -3 -32 -6 -34 -73 -56 -78 -27 -99 -42 -89 -66 8 -21 36 -21 99 -2 27 8
51 12 54 9 2 -2 -11 -20 -30 -40 -47 -48 -121 -70 -192 -54 -66 14 -161 75
-154 98 3 9 13 37 22 61 9 26 16 75 16 117 0 61 3 75 22 92 56 51 142 67 210
38z m-2019 -133 c15 -71 29 -140 32 -155 4 -19 0 -29 -13 -36 -19 -10 -174
-44 -179 -39 -7 7 -44 101 -54 137 -18 65 -34 44 -44 -57 l-9 -91 -45 -6 c-87
-12 -83 -15 -76 67 6 78 33 290 37 292 1 0 42 -2 91 -5 l89 -5 20 -53 c28 -73
51 -68 55 10 3 59 4 60 58 67 5 0 23 -56 38 -126z"
    ></path>
    <path
      d="M2876 514 c-12 -12 -13 -20 -5 -35 8 -16 19 -19 57 -17 41 3 47 6 50
27 2 13 -2 28 -10 32 -22 14 -75 10 -92 -7z"
    ></path>
    <path
      d="M2878 289 c-21 -12 -23 -40 -6 -57 24 -24 89 -9 101 22 14 35 -53 60
-95 35z"
    ></path>
    <path
      d="M700 460 c-35 -8 -38 -42 -5 -60 22 -12 32 -12 67 1 23 9 43 20 45
26 5 15 -77 40 -107 33z"
    ></path>
    <path
      d="M1506 377 c-10 -7 -16 -22 -14 -33 3 -16 12 -19 52 -19 52 0 75 18
63 49 -8 20 -75 22 -101 3z"
    ></path>
    <path
      d="M2422 434 c-28 -19 -28 -26 2 -60 23 -27 24 -28 50 -11 29 20 34 48
10 71 -19 20 -34 20 -62 0z"
    ></path>
    <path
      d="M4298 620 c-8 -13 -24 -20 -43 -20 -40 -1 -109 -33 -140 -66 -24 -25
-25 -26 -25 -6 0 25 -25 39 -124 72 -86 28 -199 31 -272 6 -153 -51 -228 -223
-159 -363 33 -65 110 -137 183 -171 104 -47 254 -32 329 33 l38 32 35 -23 c57
-37 117 -48 200 -35 82 13 121 30 168 74 l32 31 0 -27 c0 -41 31 -64 97 -74
88 -12 257 -7 363 12 140 25 159 26 180 5 38 -38 268 -45 440 -15 52 9 110 18
128 20 18 2 41 10 51 19 16 15 19 14 42 -10 67 -72 192 -90 289 -42 44 22 50
23 50 8 0 -29 27 -42 98 -47 63 -5 68 -4 77 18 15 35 50 36 71 3 l18 -27 103
6 c57 2 109 10 117 16 9 8 22 8 44 0 40 -14 195 4 228 26 14 9 24 25 24 39 0
20 -28 169 -45 245 -6 23 -5 23 42 17 93 -14 87 0 80 -156 -5 -113 -3 -141 8
-150 18 -15 142 -14 199 1 73 19 86 33 86 92 -1 28 -7 81 -15 117 -20 93 -21
90 33 90 27 0 52 -3 56 -7 4 -5 11 -8 14 -8 19 0 122 -40 122 -48 0 -4 -29
-44 -65 -88 -66 -81 -76 -107 -51 -128 22 -18 276 -44 292 -30 28 23 185 268
238 373 83 162 76 189 -55 199 -87 6 -93 3 -163 -70 l-43 -47 -13 40 c-7 21
-17 45 -23 51 -12 16 -199 18 -227 3 -13 -7 -21 -7 -25 0 -15 24 -440 0 -489
-27 -13 -7 -27 -6 -48 4 -24 13 -46 13 -126 5 -57 -6 -98 -6 -100 -1 -2 5 -27
9 -55 9 -41 0 -55 -4 -65 -20 -16 -26 -47 -26 -65 1 -14 20 -21 20 -119 14
-61 -5 -109 -13 -118 -20 -12 -11 -24 -11 -57 -2 -32 8 -70 8 -151 -1 -60 -7
-123 -9 -140 -6 -36 7 -82 -17 -82 -43 0 -15 -2 -14 -19 1 -50 45 -201 61
-258 27 -31 -20 -32 -20 -73 0 -96 46 -189 39 -241 -19 l-25 -28 -17 23 c-38
49 -203 71 -264 34 -31 -20 -32 -20 -73 0 -125 61 -247 26 -267 -75 l-9 -41
-22 36 c-12 20 -22 44 -22 52 0 9 -12 24 -27 34 -16 9 -48 29 -72 45 -53 33
-67 35 -83 8z m3591 -56 l31 -7 -53 -101 c-29 -56 -86 -153 -126 -214 l-73
-112 -57 1 c-31 0 -78 4 -106 7 l-49 7 29 19 c17 11 39 31 50 44 34 42 75 104
75 114 0 22 -51 55 -117 77 -73 23 -73 23 -73 60 0 20 -3 46 -6 58 -5 18 0 23
32 32 21 6 62 8 90 5 50 -6 52 -8 75 -56 41 -87 65 -86 150 12 53 62 65 66
128 54z m-3929 -32 c41 -14 56 -24 58 -40 3 -19 -1 -22 -31 -22 -53 0 -96 -19
-112 -51 -40 -77 10 -149 103 -149 39 0 39 -1 45 -42 7 -51 -8 -71 -68 -99
-172 -79 -421 101 -375 271 18 66 79 125 160 151 37 13 158 2 220 -19z m3384
-4 c3 -13 6 -38 6 -55 l0 -33 -64 0 c-91 0 -94 -6 -67 -135 11 -58 21 -118 21
-134 0 -28 -2 -29 -72 -39 -40 -6 -74 -9 -77 -7 -2 3 -4 63 -5 134 -1 153 -4
158 -93 176 l-58 11 -3 41 -3 41 93 9 c51 6 143 11 204 12 108 1 112 0 118
-21z m-2936 -35 c137 -146 90 -320 -95 -349 -147 -23 -226 57 -202 205 22 136
68 181 188 181 72 0 74 -1 109 -37z m384 -4 l61 -31 26 21 c46 38 71 44 131
32 87 -18 91 -25 97 -191 3 -84 1 -140 -4 -137 -6 4 -34 0 -63 -8 -66 -17 -70
-14 -70 72 0 51 -3 64 -19 73 -15 8 -24 6 -37 -7 -14 -14 -16 -29 -10 -90 l6
-73 -33 0 c-17 0 -42 -3 -53 -6 -21 -5 -21 -3 -20 73 1 73 0 78 -21 81 -28 4
-39 -17 -48 -96 l-7 -63 -62 7 c-33 3 -65 10 -70 15 -5 4 -7 79 -4 165 l5 157
28 25 c36 30 79 25 167 -19z m1638 18 c0 -39 31 -117 46 -117 11 0 14 17 14
71 l0 70 38 -3 37 -3 12 -160 c6 -88 12 -184 12 -212 l1 -53 -78 0 -78 0 -30
97 c-21 70 -34 99 -47 101 -15 3 -17 -7 -17 -97 l0 -101 -55 0 c-65 0 -60 -27
-43 232 l12 187 30 4 c17 2 57 5 89 5 53 2 57 1 57 -21z m384 7 c3 -9 6 -28 6
-43 0 -27 -1 -28 -87 -38 -49 -5 -89 -9 -90 -9 0 1 -3 21 -4 46 l-4 45 45 6
c89 12 128 10 134 -7z m-1402 -35 l61 -31 26 21 c46 38 71 44 131 32 87 -18
91 -25 97 -191 3 -84 1 -140 -4 -137 -6 4 -34 0 -63 -8 -66 -17 -70 -14 -70
72 0 51 -3 64 -19 73 -15 8 -24 6 -37 -7 -14 -14 -16 -29 -10 -90 l6 -73 -33
0 c-17 0 -42 -3 -53 -6 -21 -5 -21 -3 -20 73 1 73 0 78 -21 81 -28 4 -39 -17
-48 -96 l-7 -63 -62 7 c-33 3 -65 10 -70 15 -5 4 -7 79 -4 165 l5 157 28 25
c36 30 79 25 167 -19z m720 -4 c5 -16 12 -87 15 -157 l6 -127 -32 -30 c-41
-38 -127 -58 -181 -42 -47 14 -89 59 -101 107 -10 47 -12 261 -1 267 4 3 33 2
65 0 l57 -5 0 -89 c0 -98 14 -128 51 -109 17 10 19 22 19 109 0 54 3 101 7
105 4 4 25 6 47 4 34 -3 41 -7 48 -33z m-2086 -91 c-3 -9 -6 -22 -6 -30 0 -20
-98 -20 -106 1 -13 33 4 45 62 45 47 0 55 -3 50 -16z m2801 -134 c17 -88 20
-116 10 -122 -12 -8 -44 -11 -143 -13 l-51 -2 -7 75 c-3 41 -6 97 -6 123 l0
48 53 4 c28 2 67 3 86 3 l35 -1 23 -115z"
    ></path>
    <path
      d="M4270 356 c-27 -33 18 -72 48 -42 13 13 14 20 6 34 -15 23 -38 26
-54 8z"
    ></path>
  </g>
</svg>
